<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CostNag</title>
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/jquery-3.6.0.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cost Estimate</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div style="margin-top:10px;margin-left:10px" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <input type="text" style="width:130px;cursor:pointer;margin-left:5px" class="ui-icon-search" name="search_code" id="search_code" value="@ViewBag.searchcode" />
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark mx-0" id="btn_search">
                                <svg xmlns="http://www.w3.org/2000/svg" style="margin-left:-3px;margin-top:-3px"
                                     width="13" height="13" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <input type="button" onclick="SubmitData('Index');" style="margin-left:10px" class="btn btn-info w-250" value="Save" />
                        </li>
                        <li class="nav-item">
                            <input type="button" onclick="RefreshData();" style="margin-left:10px" class="btn btn-warning w-250" value="Refresh" />
                        </li>
                        <li class="nav-item" style="margin-left:10px">
                            <a id="Excel" class="btn btn-outline-dark mx-1"
                               style="background:#d6fca8;"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="ExcelData"
                               asp-route-customer="@ViewBag.customer"
                               asp-route-parts_code="@ViewBag.parts_code"
                               asp-route-item="@ViewBag.item"
                               asp-route-product="@ViewBag.product"
                               asp-route-product_type="@ViewBag.product_type"
                               asp-route-item_id="@ViewBag.item_id"
                               asp-route-item_od="@ViewBag.item_od"
                               asp-route-item_w="@ViewBag.item_w"
                               asp-route-item_w2="@ViewBag.item_w2"
                               asp-route-business_type="@ViewBag.business_type"
                               asp-route-qty_month="@ViewBag.qty_month"
                               asp-route-target_price_sgd="@ViewBag.target_price_sgd"
                               asp-route-target_price_usd="@ViewBag.target_price_usd"
                               asp-route-target_price_eud="@ViewBag.target_price_eud"
                               asp-route-exchange_rate_jpy="@ViewBag.exchange_rate_jpy"
                               asp-route-exchange_rate_usd="@ViewBag.exchange_rate_usd"
                               asp-route-exchange_rate_eud="@ViewBag.exchange_rate_eud"
                               asp-route-production_qty_day="@ViewBag.production_qty_day"
                               asp-route-working_day="@ViewBag.working_day"
                               asp-route-issue_date="@ViewBag.issue_date"
                               asp-route-section="@ViewBag.section"
                               asp-route-doc_no="@ViewBag.doc_no"
                               asp-route-wr_no="@ViewBag.wr_no"
                               asp-route-sales="@ViewBag.sales"
                               asp-route-revision_no="@ViewBag.revision_no"
                               asp-route-checked_date="@ViewBag.checked_date"
                               asp-route-approved_by="@ViewBag.approved_by"
                               asp-route-expired_by="@ViewBag.expired_by"
                               asp-route-rubber_material_name="@ViewBag.rubber_material_name"
                               asp-route-rubber_price_kg="@ViewBag.rubber_price_kg"
                               asp-route-rubber_mixing_process_cost="@ViewBag.rubber_mixing_process_cost"
                               asp-route-rubber_weight_g="@ViewBag.rubber_weight_g"
                               asp-route-rubber_weight_kg="@ViewBag.rubber_weight_kg"
                               asp-route-rubber_yield_rate="@ViewBag.rubber_yield_rate"
                               asp-route-rubber_weight_kg_yieldrate="@ViewBag.rubber_weight_kg_yieldrate"
                               asp-route-rubber_cost_sgd="@ViewBag.rubber_cost_sgd"
                               asp-route-rubber_percentage_target_price="@ViewBag.rubber_percentage_target_price"
                               asp-route-rubber_material_name2="@ViewBag.rubber_material_name2"
                               asp-route-rubber_price_kg2="@ViewBag.rubber_price_kg2"
                               asp-route-rubber_mixing_process_cost2="@ViewBag.rubber_mixing_process_cost2"
                               asp-route-rubber_weight_g2="@ViewBag.rubber_weight_g2"
                               asp-route-rubber_weight_kg2="@ViewBag.rubber_weight_kg2"
                               asp-route-rubber_yield_rate2="@ViewBag.rubber_yield_rate2"
                               asp-route-rubber_weight_kg_yieldrate2="@ViewBag.rubber_weight_kg_yieldrate2"
                               asp-route-rubber_cost_sgd2="@ViewBag.rubber_cost_sgd2"
                               asp-route-rubber_percentage_target_price2="@ViewBag.rubber_percentage_target_price2"
                               asp-route-material_inhouse_name_1="@ViewBag.material_inhouse_name_1"
                               asp-route-material_inhouse_info_1="@ViewBag.material_inhouse_info_1"
                               asp-route-material_inhouse_value_1="@ViewBag.material_inhouse_value_1"
                               asp-route-material_inhouse_info_1b="@ViewBag.material_inhouse_info_1b"
                               asp-route-material_inhouse_value_1b="@ViewBag.material_inhouse_value_1b"
                               asp-route-material_inhouse_cost_sgd_1="@ViewBag.material_inhouse_cost_sgd_1"
                               asp-route-material_inhouse_percentage_target_price_1="@ViewBag.material_inhouse_percentage_target_price_1"
                               asp-route-material_inhouse_name_2="@ViewBag.material_inhouse_name_2"
                               asp-route-material_inhouse_info_2="@ViewBag.material_inhouse_info_2"
                               asp-route-material_inhouse_value_2="@ViewBag.material_inhouse_value_2"
                               asp-route-material_inhouse_info_2b="@ViewBag.material_inhouse_info_2b"
                               asp-route-material_inhouse_value_2b="@ViewBag.material_inhouse_value_2b"
                               asp-route-material_inhouse_cost_sgd_2="@ViewBag.material_inhouse_cost_sgd_2"
                               asp-route-material_inhouse_percentage_target_price_2="@ViewBag.material_inhouse_percentage_target_price_2"
                               asp-route-material_inhouse_name_3="@ViewBag.material_inhouse_name_3"
                               asp-route-material_inhouse_info_3="@ViewBag.material_inhouse_info_3"
                               asp-route-material_inhouse_value_3="@ViewBag.material_inhouse_value_3"
                               asp-route-material_inhouse_info_3b="@ViewBag.material_inhouse_info_3b"
                               asp-route-material_inhouse_value_3b="@ViewBag.material_inhouse_value_3b"
                               asp-route-material_inhouse_cost_sgd_3="@ViewBag.material_inhouse_cost_sgd_3"
                               asp-route-material_inhouse_percentage_target_price_3="@ViewBag.material_inhouse_percentage_target_price_3"
                               asp-route-material_outside_name_1="@ViewBag.material_outside_name_1"
                               asp-route-material_outside_info_1="@ViewBag.material_outside_info_1"
                               asp-route-material_outside_value_1="@ViewBag.material_outside_value_1"
                               asp-route-material_outside_info_1b="@ViewBag.material_outside_info_1b"
                               asp-route-material_outside_value_1b="@ViewBag.material_outside_value_1b"
                               asp-route-material_outside_cost_sgd_1="@ViewBag.material_outside_cost_sgd_1"
                               asp-route-material_outside_percentage_target_price_1="@ViewBag.material_outside_percentage_target_price_1"
                               asp-route-material_outside_name_2="@ViewBag.material_outside_name_2"
                               asp-route-material_outside_info_2="@ViewBag.material_outside_info_2"
                               asp-route-material_outside_value_2="@ViewBag.material_outside_value_2"
                               asp-route-material_outside_info_2b="@ViewBag.material_outside_info_2b"
                               asp-route-material_outside_value_2b="@ViewBag.material_outside_value_2b"
                               asp-route-material_outside_cost_sgd_2="@ViewBag.material_outside_cost_sgd_2"
                               asp-route-material_outside_percentage_target_price_2="@ViewBag.material_outside_percentage_target_price_2"
                               asp-route-material_outside_name_3="@ViewBag.material_outside_name_3"
                               asp-route-material_outside_info_3="@ViewBag.material_outside_info_3"
                               asp-route-material_outside_value_3="@ViewBag.material_outside_value_3"
                               asp-route-material_outside_info_3b="@ViewBag.material_outside_info_3b"
                               asp-route-material_outside_value_3b="@ViewBag.material_outside_value_3b"
                               asp-route-material_outside_cost_sgd_3="@ViewBag.material_outside_cost_sgd_3"
                               asp-route-material_outside_percentage_target_price_3="@ViewBag.material_outside_percentage_target_price_3"
                               asp-route-direct_material_cost="@ViewBag.direct_material_cost"
                               asp-route-direct_material_cost_percentage="@ViewBag.direct_material_cost_percentage"
                               asp-route-sub_material_percentage="@ViewBag.sub_material_percentage"
                               asp-route-sub_material_cost="@ViewBag.sub_material_cost"
                               asp-route-sub_material_cost_percentage="@ViewBag.sub_material_cost_percentage"
                               asp-route-direct_process_cost="@ViewBag.direct_process_cost"
                               asp-route-direct_process_cost_percentage="@ViewBag.direct_process_cost_percentage"
                               asp-route-total_direct_cost="@ViewBag.total_direct_cost"
                               asp-route-total_direct_cost_percentage="@ViewBag.total_direct_cost_percentage"
                               asp-route-defective_percentage="@ViewBag.defective_percentage"
                               asp-route-defective_cost="@ViewBag.defective_cost"
                               asp-route-defective_cost_percentage="@ViewBag.defective_cost_percentage"
                               asp-route-indirect_percentage="@ViewBag.indirect_percentage"
                               asp-route-indirect_cost="@ViewBag.indirect_cost"
                               asp-route-indirect_cost_percentage="@ViewBag.indirect_cost_percentage"
                               asp-route-packing_material_percentage="@ViewBag.packing_material_percentage"
                               asp-route-special_package_cost="@ViewBag.special_package_cost"
                               asp-route-packing_material_cost="@ViewBag.packing_material_cost"
                               asp-route-packing_material_cost_percentage="@ViewBag.packing_material_cost_percentage"
                               asp-route-administration_percentage="@ViewBag.administration_percentage"
                               asp-route-administration_cost="@ViewBag.administration_cost"
                               asp-route-administration_cost_percentage="@ViewBag.administration_cost_percentage"
                               asp-route-plant_retail_percentage="@ViewBag.plant_retail_percentage"
                               asp-route-plant_retail_cost="@ViewBag.plant_retail_cost"
                               asp-route-plant_retail_cost_percentage="@ViewBag.plant_retail_cost_percentage"
                               asp-route-moldjig_percentage="@ViewBag.moldjig_percentage"
                               asp-route-moldjig_cost="@ViewBag.moldjig_cost"
                               asp-route-moldjig_cost_percentage="@ViewBag.moldjig_cost_percentage"
                               asp-route-die_percentage="@ViewBag.die_percentage"
                               asp-route-die_cost="@ViewBag.die_cost"
                               asp-route-die_cost_percentage="@ViewBag.die_cost_percentage"
                               asp-route-note="@ViewBag.note"
                               asp-route-net_included_tooling_cost="@ViewBag.net_included_tooling_cost"
                               asp-route-net_included_tooling_cost_percentage="@ViewBag.net_included_tooling_cost_percentage"
                               asp-route-net_exclude_tooling_cost="@ViewBag.net_exclude_tooling_cost"
                               asp-route-net_exclude_tooling_cost_percentage="@ViewBag.net_exclude_tooling_cost_percentage"
                               asp-route-tooling_list_description_1="@ViewBag.tooling_list_description_1"
                               asp-route-tooling_list_description_2="@ViewBag.tooling_list_description_2"
                               asp-route-tooling_list_description_3="@ViewBag.tooling_list_description_3"
                               asp-route-tooling_list_description_4="@ViewBag.tooling_list_description_4"
                               asp-route-tooling_list_description_5="@ViewBag.tooling_list_description_5"
                               asp-route-tooling_list_description_6="@ViewBag.tooling_list_description_6"
                               asp-route-tooling_list_description_7="@ViewBag.tooling_list_description_7"
                               asp-route-tooling_list_description_8="@ViewBag.tooling_list_description_8"
                               asp-route-tooling_list_description_9="@ViewBag.tooling_list_description_9"
                               asp-route-tooling_list_description_10="@ViewBag.tooling_list_description_10"
                               asp-route-tooling_list_description_11="@ViewBag.tooling_list_description_11"
                               asp-route-tooling_list_description_12="@ViewBag.tooling_list_description_12"
                               asp-route-tooling_list_description_13="@ViewBag.tooling_list_description_13"
                               asp-route-tooling_list_description_14="@ViewBag.tooling_list_description_14"
                               asp-route-tooling_list_description_15="@ViewBag.tooling_list_description_15"
                               asp-route-tooling_list_type_1="@ViewBag.tooling_list_type_1"
                               asp-route-tooling_list_type_2="@ViewBag.tooling_list_type_2"
                               asp-route-tooling_list_type_3="@ViewBag.tooling_list_type_3"
                               asp-route-tooling_list_type_4="@ViewBag.tooling_list_type_4"
                               asp-route-tooling_list_type_5="@ViewBag.tooling_list_type_5"
                               asp-route-tooling_list_type_6="@ViewBag.tooling_list_type_6"
                               asp-route-tooling_list_type_7="@ViewBag.tooling_list_type_7"
                               asp-route-tooling_list_type_8="@ViewBag.tooling_list_type_8"
                               asp-route-tooling_list_type_9="@ViewBag.tooling_list_type_9"
                               asp-route-tooling_list_type_10="@ViewBag.tooling_list_type_10"
                               asp-route-tooling_list_type_11="@ViewBag.tooling_list_type_11"
                               asp-route-tooling_list_type_12="@ViewBag.tooling_list_type_12"
                               asp-route-tooling_list_type_13="@ViewBag.tooling_list_type_13"
                               asp-route-tooling_list_type_14="@ViewBag.tooling_list_type_14"
                               asp-route-tooling_list_type_15="@ViewBag.tooling_list_type_15"
                               asp-route-tooling_list_source_1="@ViewBag.tooling_list_source_1"
                               asp-route-tooling_list_source_2="@ViewBag.tooling_list_source_2"
                               asp-route-tooling_list_source_3="@ViewBag.tooling_list_source_3"
                               asp-route-tooling_list_source_4="@ViewBag.tooling_list_source_4"
                               asp-route-tooling_list_source_5="@ViewBag.tooling_list_source_5"
                               asp-route-tooling_list_source_6="@ViewBag.tooling_list_source_6"
                               asp-route-tooling_list_source_7="@ViewBag.tooling_list_source_7"
                               asp-route-tooling_list_source_8="@ViewBag.tooling_list_source_8"
                               asp-route-tooling_list_source_9="@ViewBag.tooling_list_source_9"
                               asp-route-tooling_list_source_10="@ViewBag.tooling_list_source_10"
                               asp-route-tooling_list_source_11="@ViewBag.tooling_list_source_11"
                               asp-route-tooling_list_source_12="@ViewBag.tooling_list_source_12"
                               asp-route-tooling_list_source_13="@ViewBag.tooling_list_source_13"
                               asp-route-tooling_list_source_14="@ViewBag.tooling_list_source_14"
                               asp-route-tooling_list_source_15="@ViewBag.tooling_list_source_15"
                               asp-route-tooling_list_qty_1="@ViewBag.tooling_list_qty_1"
                               asp-route-tooling_list_qty_2="@ViewBag.tooling_list_qty_2"
                               asp-route-tooling_list_qty_3="@ViewBag.tooling_list_qty_3"
                               asp-route-tooling_list_qty_4="@ViewBag.tooling_list_qty_4"
                               asp-route-tooling_list_qty_5="@ViewBag.tooling_list_qty_5"
                               asp-route-tooling_list_qty_6="@ViewBag.tooling_list_qty_6"
                               asp-route-tooling_list_qty_7="@ViewBag.tooling_list_qty_7"
                               asp-route-tooling_list_qty_8="@ViewBag.tooling_list_qty_8"
                               asp-route-tooling_list_qty_9="@ViewBag.tooling_list_qty_9"
                               asp-route-tooling_list_qty_10="@ViewBag.tooling_list_qty_10"
                               asp-route-tooling_list_qty_11="@ViewBag.tooling_list_qty_11"
                               asp-route-tooling_list_qty_12="@ViewBag.tooling_list_qty_12"
                               asp-route-tooling_list_qty_13="@ViewBag.tooling_list_qty_13"
                               asp-route-tooling_list_qty_14="@ViewBag.tooling_list_qty_14"
                               asp-route-tooling_list_qty_15="@ViewBag.tooling_list_qty_15"
                               asp-route-tooling_list_unit_1="@ViewBag.tooling_list_unit_1"
                               asp-route-tooling_list_unit_2="@ViewBag.tooling_list_unit_2"
                               asp-route-tooling_list_unit_3="@ViewBag.tooling_list_unit_3"
                               asp-route-tooling_list_unit_4="@ViewBag.tooling_list_unit_4"
                               asp-route-tooling_list_unit_5="@ViewBag.tooling_list_unit_5"
                               asp-route-tooling_list_unit_6="@ViewBag.tooling_list_unit_6"
                               asp-route-tooling_list_unit_7="@ViewBag.tooling_list_unit_7"
                               asp-route-tooling_list_unit_8="@ViewBag.tooling_list_unit_8"
                               asp-route-tooling_list_unit_9="@ViewBag.tooling_list_unit_9"
                               asp-route-tooling_list_unit_10="@ViewBag.tooling_list_unit_10"
                               asp-route-tooling_list_unit_11="@ViewBag.tooling_list_unit_11"
                               asp-route-tooling_list_unit_12="@ViewBag.tooling_list_unit_12"
                               asp-route-tooling_list_unit_13="@ViewBag.tooling_list_unit_13"
                               asp-route-tooling_list_unit_14="@ViewBag.tooling_list_unit_14"
                               asp-route-tooling_list_unit_15="@ViewBag.tooling_list_unit_15"
                               asp-route-tooling_list_price_1="@ViewBag.tooling_list_price_1"
                               asp-route-tooling_list_price_2="@ViewBag.tooling_list_price_2"
                               asp-route-tooling_list_price_3="@ViewBag.tooling_list_price_3"
                               asp-route-tooling_list_price_4="@ViewBag.tooling_list_price_4"
                               asp-route-tooling_list_price_5="@ViewBag.tooling_list_price_5"
                               asp-route-tooling_list_price_6="@ViewBag.tooling_list_price_6"
                               asp-route-tooling_list_price_7="@ViewBag.tooling_list_price_7"
                               asp-route-tooling_list_price_8="@ViewBag.tooling_list_price_8"
                               asp-route-tooling_list_price_9="@ViewBag.tooling_list_price_9"
                               asp-route-tooling_list_price_10="@ViewBag.tooling_list_price_10"
                               asp-route-tooling_list_price_11="@ViewBag.tooling_list_price_11"
                               asp-route-tooling_list_price_12="@ViewBag.tooling_list_price_12"
                               asp-route-tooling_list_price_13="@ViewBag.tooling_list_price_13"
                               asp-route-tooling_list_price_14="@ViewBag.tooling_list_price_14"
                               asp-route-tooling_list_price_15="@ViewBag.tooling_list_price_15"
                               asp-route-tooling_list_amount_jpy_1="@ViewBag.tooling_list_amount_jpy_1"
                               asp-route-tooling_list_amount_jpy_2="@ViewBag.tooling_list_amount_jpy_2"
                               asp-route-tooling_list_amount_jpy_3="@ViewBag.tooling_list_amount_jpy_3"
                               asp-route-tooling_list_amount_jpy_4="@ViewBag.tooling_list_amount_jpy_4"
                               asp-route-tooling_list_amount_jpy_5="@ViewBag.tooling_list_amount_jpy_5"
                               asp-route-tooling_list_amount_jpy_6="@ViewBag.tooling_list_amount_jpy_6"
                               asp-route-tooling_list_amount_jpy_7="@ViewBag.tooling_list_amount_jpy_7"
                               asp-route-tooling_list_amount_jpy_8="@ViewBag.tooling_list_amount_jpy_8"
                               asp-route-tooling_list_amount_jpy_9="@ViewBag.tooling_list_amount_jpy_9"
                               asp-route-tooling_list_amount_jpy_10="@ViewBag.tooling_list_amount_jpy_10"
                               asp-route-tooling_list_amount_jpy_11="@ViewBag.tooling_list_amount_jpy_11"
                               asp-route-tooling_list_amount_jpy_12="@ViewBag.tooling_list_amount_jpy_12"
                               asp-route-tooling_list_amount_jpy_13="@ViewBag.tooling_list_amount_jpy_13"
                               asp-route-tooling_list_amount_jpy_14="@ViewBag.tooling_list_amount_jpy_14"
                               asp-route-tooling_list_amount_jpy_15="@ViewBag.tooling_list_amount_jpy_15"
                               asp-route-tooling_list_amount_usd_1="@ViewBag.tooling_list_amount_usd_1"
                               asp-route-tooling_list_amount_usd_2="@ViewBag.tooling_list_amount_usd_2"
                               asp-route-tooling_list_amount_usd_3="@ViewBag.tooling_list_amount_usd_3"
                               asp-route-tooling_list_amount_usd_4="@ViewBag.tooling_list_amount_usd_4"
                               asp-route-tooling_list_amount_usd_5="@ViewBag.tooling_list_amount_usd_5"
                               asp-route-tooling_list_amount_usd_6="@ViewBag.tooling_list_amount_usd_6"
                               asp-route-tooling_list_amount_usd_7="@ViewBag.tooling_list_amount_usd_7"
                               asp-route-tooling_list_amount_usd_8="@ViewBag.tooling_list_amount_usd_8"
                               asp-route-tooling_list_amount_usd_9="@ViewBag.tooling_list_amount_usd_9"
                               asp-route-tooling_list_amount_usd_10="@ViewBag.tooling_list_amount_usd_10"
                               asp-route-tooling_list_amount_usd_11="@ViewBag.tooling_list_amount_usd_11"
                               asp-route-tooling_list_amount_usd_12="@ViewBag.tooling_list_amount_usd_12"
                               asp-route-tooling_list_amount_usd_13="@ViewBag.tooling_list_amount_usd_13"
                               asp-route-tooling_list_amount_usd_14="@ViewBag.tooling_list_amount_usd_14"
                               asp-route-tooling_list_amount_usd_15="@ViewBag.tooling_list_amount_usd_15"
                               asp-route-tooling_list_amount_usd="@ViewBag.tooling_list_amount_usd"
                               asp-route-tooling_list_total_amount_usd_1="@ViewBag.tooling_list_total_amount_usd_1"
                               asp-route-direct_raw_material="@ViewBag.direct_raw_material"
                               asp-route-direct_raw_material_p="@ViewBag.direct_raw_material_p"
                               asp-route-sub_material="@ViewBag.sub_material"
                               asp-route-sub_material_p="@ViewBag.sub_material_p"
                               asp-route-raw_material_cost_sub_total="@ViewBag.raw_material_cost_sub_total"
                               asp-route-raw_material_cost_sub_total_p="@ViewBag.raw_material_cost_sub_total_p"
                               asp-route-labor_cost="@ViewBag.labor_cost"
                               asp-route-labor_cost_p="@ViewBag.labor_cost_p"
                               asp-route-machine_cost="@ViewBag.machine_cost"
                               asp-route-machine_cost_p="@ViewBag.machine_cost_p"
                               asp-route-overhead_cost="@ViewBag.overhead_cost"
                               asp-route-overhead_cost_p="@ViewBag.overhead_cost_p"
                               asp-route-process_cost_sub_total="@ViewBag.process_cost_sub_total"
                               asp-route-process_cost_sub_total_p="@ViewBag.process_cost_sub_total_p"
                               asp-route-defectives="@ViewBag.defectives"
                               asp-route-defectives_p="@ViewBag.defectives_p"
                               asp-route-admin_engin_qc="@ViewBag.admin_engin_qc"
                               asp-route-admin_engin_qc_p="@ViewBag.admin_engin_qc_p"
                               asp-route-tooling_cost="@ViewBag.tooling_cost"
                               asp-route-tooling_cost_p="@ViewBag.tooling_cost_p"
                               asp-route-process_margin_adjust="@ViewBag.process_margin_adjust"
                               asp-route-process_margin_adjust_p="@ViewBag.process_margin_adjust_p"
                               asp-route-other_fixed_cost_sub_total="@ViewBag.other_fixed_cost_sub_total"
                               asp-route-other_fixed_cost_sub_total_p="@ViewBag.other_fixed_cost_sub_total_p"
                               asp-route-grand_total_cost="@ViewBag.grand_total_cost"
                               asp-route-grand_total_cost_p="@ViewBag.grand_total_cost_p">Excel</a>
                        </li>
                        <li class="nav-item">
                            <input type="button" style="margin-left:10px" class="btn btn-primary w-200"
                                   value="Process M"
                                   id="ProcessMaster"
                                   onclick="showPopupMaster('@Url.Action("Index", "ProcessMaster",
						                new
						                {
                                        },
						                Context.Request.Scheme)','Process Master');" />
                        </li>
                        <li class="nav-item">
                            <input type="button" style="margin-left:10px" class="btn btn-primary w-200"
                                   value="Rubber M"
                                   id="RubberMaster"
                                   onclick="showPopupMaster('@Url.Action("Index", "Rubber",
						                new
						                {

                                        },
						                Context.Request.Scheme)','Rubber Master');" />
                        </li>
                        <li class="nav-item">
                            <input type="button" style="margin-left:10px" class="btn btn-primary w-200"
                                   value="Tooling M"
                                   id="ToolingMaster"
                                   onclick="showPopupMaster('@Url.Action("Index", "Tooling",
						                new
						                {

                                        },
						                Context.Request.Scheme)','Tooling Master');" />
                        </li>
                        <li class="nav-item">
                            <div id="data_status" style="vertical-align:bottom; padding-left:10px;border:0px;font-size:15px;color:blue">ADD NEW</div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-1">
            @RenderBody()
        </main>
    </div>

    <input style="display:none" type="text" id="processtype" />

    <div style="display:none;" class="modal" tabindex="-1" id="form-modal">
        <div class="modal-dialog">
            <div class="modal-content" style="background:white;width:1100px;padding-left:5px;margin-left:-290px">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-dismiss="modal">X</button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
