@model dynamic
@{
    ViewData["Title"] = "Process";
    Layout = null;
}


    <form method="post" asp-action="Save" onsubmit="return jQueryAjaxPost(this,'Process/Index');"
          style="margin-left:-20px;margin-top:-30px">

        <table id="table_process">
            <tr>
                <th>Doc No:</th>
                <td>
                    <input type="text" class="directInput" style="background:white"
                           name="doc_no" id="doc_no"
                           value="@ViewBag.p_doc_no" />
                </td>
                <th>Process Cost:</th>
                <td>
                    <input type="number" step="any" class="calculateInput"
                           name="process_cost" id="process_cost"
                           value="@ViewBag.p_process_cost" />
                </td>
                <td style="vertical-align:top;border:0px">
                    <input type="submit" id="SubmitProcess" class="btn btn-info w-280" value="Save" />

                </td>
                <td style="vertical-align:top;border:0px">
                    <input type="button" id="RefreshProcess" class="btn btn-warning w-280" value="Refresh" onclick="refresh()" />

                </td>
                <td style="border:0px;font-size:20px;color:blue" id="status">
                    ADD NEW
                </td>
                <td style="border:0px"><input type="text" name="ProcessId" id="ProcessId" style="border:0px;font-size:10px;" value="@ViewBag.ProcessId" /></td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="vertical-align:top">
                    <table id="table_process_item">
                        <tr>
                            <td  style="text-align:right;padding-right:10px">Process Name :</td>
                            <td>
                                <input type="text" tabindex="0" class="directInput process_field"
                                       name="process_name" id="process_name"
                                       value="@ViewBag.p_process_name" />
                            </td>
                            <td colspan="2" style="text-align:right;padding-right:5px;">Direct process cost     SGD/pc.</td>
                            <td>
                                <input type="number" step="any" class="calculateInput"
                                       name="direct_process_cost"
                                       id="p_direct_process_cost"
                                       value="@ViewBag.p_direct_process_cost" />
                            </td>
                        </tr>
                        <tr>
                            <td>Working days:</td>
                            <td style="color:blue">Direct input</td>
                            <td></td>
                            <td style="color:blue">A</td>
                            <td>
                                <input type="number" step="any" tabindex="1" class="directInput process_field"
                                       name="working_day" id="p_working_day"
                                       value="@ViewBag.p_working_day" />
                            </td>
                        </tr>
                        <tr>
                            <td>Working time(m/day):</td>
                            <td style="color:blue">Direct input</td>
                            <td></td>
                            <td style="color:blue">B</td>
                            <td>
                                <input type="number" step="any" tabindex="2" class="directInput process_field"
                                       name="working_time_day" id="p_working_time_day"
                                       value="@ViewBag.p_working_time_day" />
                            </td>
                        </tr>
                        <tr>
                            <td>Working time(m/month):</td>
                            <td colspan="2" style="color:blue">Auto ( 稼働日数×実稼働時間 )</td>
                            <td style="text-align:center;color:blue">C</td>
                            <td>
                                <input type="number" step="any" class="directInput process_field"
                                       name="working_time_month" id="p_working_time_month"
                                       value="@ViewBag.p_working_time_month" />
                            </td>
                        </tr>
                        <tr>
                            <td>Shift:</td>
                            <td style="color:blue">Direct input(/shift)</td>
                            <td>shift/day</td>
                            <td style="color:blue">D</td>
                            <td>
                                <input type="number" step="any" tabindex="3" class="directInput process_field"
                                       name="shift" id="p_shift"
                                       value="@ViewBag.p_shift" />
                            </td>
                        </tr>
                        <tr>
                            <td>Worker(direct):</td>
                            <td style="color:blue">Direct input(/line)</td>
                            <td></td>
                            <td style="color:blue">E</td>
                            <td>
                                <input type="number" step="any" tabindex="4" class="directInput process_field"
                                       name="worker" id="p_worker"
                                       value="@ViewBag.p_worker" />
                            </td>
                        </tr>
                        <tr>
                            <td>Direct labour &Aacute; Expense Allowance:</td>
                            <td style="color:blue">Auto</td>
                            <td>
                                <input type="number" step="any" tabindex="5" class="directInput c2  process_field"
                                       name="direct_labour_unit" id="p_direct_labour_unit"
                                       value="@ViewBag.p_direct_labour_unit" />/M^2
                            </td>
                            <td style="color:blue">F</td>
                            <td>
                                <input type="number" step="any" class="calculateInput"
                                       name="direct_labour" id="p_direct_labour"
                                       value="@ViewBag.p_direct_labour" />
                            </td>
                        </tr>
                        <tr>
                            <td>Labour cost (SGD/month)</td>
                            <td style="color:blue">Auto</td>
                            <td></td>
                            <td style="color:blue;text-align:center">G</td>
                            <td>
                                <input type="number" step="any" class="calculateInput"
                                       name="total_labour_cost" id="p_total_labour_cost"
                                       value="@ViewBag.p_total_labour_cost" />
                            </td>
                        </tr>
                        <tr>
                            <td>Machine Qty:</td>
                            <td style="color:blue">Direct input</td>
                            <td></td>
                            <td style="color:blue">H</td>
                            <td>
                                <input type="number" step="any" tabindex="6" class="directInput process_field"
                                       name="machine_qty" id="p_machine_qty"
                                       value="@ViewBag.p_machine_qty" />
                            </td>
                        </tr>
                        <tr>
                            <td>Area(m^2):</td>
                            <td style="color:blue">Direct input</td>
                            <td></td>
                            <td style="color:blue">I</td>
                            <td>
                                <input type="number" step="any" tabindex="7" class="directInput process_field"
                                       name="area" id="p_area"
                                       value="@ViewBag.p_area" />
                            </td>
                        </tr>
                        <tr>
                            <td>Special Material:</td>
                            <td style="color:blue">Direct Input</td>
                            <td></td>
                            <td style="color:blue">J</td>
                            <td>
                                <input type="number" step="any" tabindex="8" class="directInput process_field"
                                       name="special_material" id="p_special_material"
                                       value="@ViewBag.p_special_material" />
                            </td>
                        </tr>
                        <tr>
                            <td>Plant Maintenance:</td>
                            <td style="color:blue">Auto</td>
                            <td>
                                <input type="number" step="any" tabindex="9" class="directInput c2  process_field"
                                       name="plant_maintenance_unit" id="p_plant_maintenance_unit"
                                       value="@ViewBag.p_plant_maintenance_unit" />/M^2
                            </td>
                            <td style="color:blue">K</td>
                            <td>
                                <input type="number" step="any" class="calculateInput"
                                       name="plant_maintenance" id="p_plant_maintenance"
                                       value="@ViewBag.p_plant_maintenance" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="color:blue">Auto ( Cost* percentage )</td>
                            <td>
                                <input type="number" step="any" tabindex="10" class="directInput c2  process_field"
                                       name="machine_cost_month_percentage_unit" id="p_machine_cost_month_percentage_unit"
                                       value="@ViewBag.p_machine_cost_month_percentage_unit" />%
                            </td>
                            <td style="color:blue">L</td>
                            <td>
                                <input type="number" step="any" class="calculateInput"
                                       name="machine_cost_month" id="p_machine_cost_month"
                                       value="@ViewBag.p_machine_cost_month" />
                            </td>
                        </tr>
                        <tr>
                            <td>Machine Cost (K SGD)</td>
                            <td style="color:blue">Direct input</td>
                            <td></td>
                            <td style="color:blue">M</td>
                            <td>
                                <input type="number" step="any" tabindex="11" class="directInput  process_field"
                                       name="total_machine_cost" id="p_total_machine_cost"
                                       value="@ViewBag.p_total_machine_cost" />
                            </td>
                        </tr>
                        <tr>
                            <td>Month General purpose</td>
                            <td style="color:blue">Auto</td>
                            <td>
                                <input type="number" step="any" tabindex="12" class="directInput c2  process_field"
                                       name="machine_usage_day" id="p_machine_usage_day"
                                       value="@ViewBag.p_machine_usage_day" />
                            </td>
                            <td style="color:blue">N</td>
                            <td>
                                <input type="number" step="any" class="calculateInput"
                                       name="machine_cost_month2" id="p_machine_cost_month2"
                                       value="@ViewBag.p_machine_cost_month2" />
                            </td>
                        </tr>
                        <tr>
                            <td>Electric Consumption(Kw/H)</td>
                            <td style="color:blue">Direct input</td>
                            <td></td>
                            <td style="color:blue">O</td>
                            <td>
                                <input type="number" step="any" tabindex="13" class="directInput  process_field"
                                       name="consumption_kwh" id="p_consumption_kwh"
                                       value="@ViewBag.p_consumption_kwh" />
                            </td>
                        </tr>
                        <tr>
                            <td>Electric Cost (SGD/kwH)</td>
                            <td style="color:blue">Auto</td>
                            <td>
                                <input type="number" step="any" tabindex="14" class="directInput c2"
                                       name="consumption_unit" id="p_consumption_unit"
                                       value="@ViewBag.p_consumption_unit" />
                            </td>
                            <td style="color:blue">P</td>
                            <td>
                                <input type="number" step="any" class="calculateInput"
                                       name="consumption_sgd" id="p_consumption_sgd"
                                       value="@ViewBag.p_consumption_sgd" />
                            </td>
                        </tr>
                        <tr>
                            <td>Electric rate (%)</td>
                            <td style="color:blue">Direct input</td>
                            <td></td>
                            <td style="color:blue">Q</td>
                            <td>
                                <input type="number" step="any" step="any" tabindex="15" class="directInput  process_field"
                                       name="consumption_rate" id="p_consumption_rate"
                                       value="@ViewBag.p_consumption_rate" />
                            </td>
                        </tr>
                        <tr>
                            <td>Electric Utility</td>
                            <td style="color:blue">Auto</td>
                            <td></td>
                            <td style="color:blue">R</td>
                            <td>
                                <input type="number" step="any" class="calculateInput"
                                       name="utility_electric" id="p_utility_electric"
                                       value="@ViewBag.p_utility_electric" />
                            </td>
                        </tr>
                        <tr>
                            <td>Machine Utility cost(SGD/month)</td>
                            <td style="color:blue">D+E+F+G+H</td>
                            <td></td>
                            <td style="color:blue;text-align:center">S</td>
                            <td>
                                <input type="number" step="any" class="calculateInput"
                                       name="machine_utility_cost" id="p_machine_utility_cost"
                                       value="@ViewBag.p_machine_utility_cost" />
                            </td>
                        </tr>
                        <tr>
                            <td>Total cost (SGD/month)</td>
                            <td style="color:blue">Auto</td>
                            <td></td>
                            <td style="color:blue;text-align:center">T</td>
                            <td>
                                <input type="number" step="any" class="calculateInput"
                                       name="labour_electric_cost" id="p_labour_electric_cost"
                                       value="@ViewBag.p_labour_electric_cost" />
                            </td>
                        </tr>
                        <tr>
                            <td>Charge (labour+machine)/minutes</td>
                            <td style="color:blue">Auto</td>
                            <td></td>
                            <td style="color:blue;text-align:center">U</td>
                            <td>
                                <input type="number" step="any" class="calculateInput"
                                       name="charge" id="p_charge"
                                       value="@ViewBag.p_charge" />
                            </td>
                        </tr>
                        <tr>
                            <td>Cycle Time (Sec/Pc)</td>
                            <td style="color:blue">Auto</td>
                            <td>
                                <input type="number" step="any" tabindex="16" class="directInput c2  process_field"
                                       name="cycle_time_unit" id="p_cycle_time_unit"
                                       value="@ViewBag.p_cycle_time_unit" />
                            </td>
                            <td style="color:blue">V</td>
                            <td>
                                <input type="number" step="any" class="calculateInput"
                                       name="cycle_time" id="p_cycle_time"
                                       value="@ViewBag.p_cycle_time" />
                            </td>
                        </tr>
                        <tr>
                            <td>Time (Sec)</td>
                            <td style="color:blue">Direct input</td>
                            <td></td>
                            <td style="color:blue">W</td>
                            <td>
                                <input type="number" step="any" tabindex="17" class="directInput  process_field"
                                       name="time" id="p_time"
                                       value="@ViewBag.p_time" />
                            </td>
                        </tr>
                        <tr>
                            <td>Capacity</td>
                            <td style="color:blue">Direct input</td>
                            <td></td>
                            <td style="color:blue">X</td>
                            <td>
                                <input type="number" step="any" tabindex="18" class="directInput  process_field"
                                       name="capacity" id="p_capacity"
                                       value="@ViewBag.p_capacity" />
                            </td>
                        </tr>
                        <tr>
                            <td>time(s)/1g</td>
                            <td style="color:blue">Auto</td>
                            <td></td>
                            <td style="color:blue">Y</td>
                            <td>
                                <input type="number" step="any" class="calculateInput"
                                       name="time_g" id="p_time_g"
                                       value="@ViewBag.p_time_g" />
                            </td>
                        </tr>
                        <tr>
                            <td>Efficiency(%)</td>
                            <td style="color:blue">Direct input</td>
                            <td></td>
                            <td style="color:blue">Z</td>
                            <td>
                                <input type="number" step="any" tabindex="19" class="directInput  process_field"
                                       name="efficiency" id="p_efficiency"
                                       value="@ViewBag.p_efficiency" />
                            </td>
                        </tr>
                        <tr>
                            <td>Production Capacity</td>
                            <td style="color:blue">Auto</td>
                            <td></td>
                            <td style="color:blue">AA</td>
                            <td>
                                <input type="number" step="any" class="calculateInput"
                                       name="production_capacity" id="p_production_capacity"
                                       value="@ViewBag.p_production_capacity" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align:right;padding-right:5px">Cycle time   min/pc</td>
                            <td style="color:blue;text-align:center">AB</td>
                            <td>
                                <input type="number" step="any" class="calculateInput"
                                       name="production_cycle_time" id="p_production_cycle_time"
                                       value="@ViewBag.p_production_cycle_time" />
                            </td>
                        </tr>
                        <tr>
                            <td>In case Double process Part/FG</td>
                            <td colspan="2">Special input     Pc/FG</td>
                            <td style="color:blue;text-align:center">AC</td>
                            <td>
                                <input type="number" step="any" tabindex="20" class="directInput  process_field"
                                       name="special_input" id="p_special_input"
                                       value="@ViewBag.p_special_input" />
                            </td>
                        </tr>
                        
                    </table>
                </td>
                <td style="vertical-align:top">
                    <table style="display:none">
                        <tr>
                            <td>Master Process:</td>
                            <td><input type="text" value="-" id="master_process_" style="width:150px;cursor:pointer;margin-left:5px" class="ui-icon-search" /></td>
                        </tr>
                    </table>
                    <table id="table_process_list">
                        <tr>
                            <th style="display:none"></th>
                            <th>Process Name</th>
                            <th>Process Cost</th>
                        </tr>
                        @{
                            foreach (var i in (List<ListModel>)ViewData["process"])
                            {
                                <tr>
                                    <td style="display:none">@i.id</td>
                                    <td>@i.name</td>
                                    <td style="width:50px;text-align:right;padding-right:5px;">@i.cost</td>
                                    <th style="border:0px;width:30px">
                                        <a style="height:25px;width:25px;cursor:pointer" 　
                                           onclick="delete_process(@i.id)"
                                           class="btn btn-danger bg-light">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-left:-10px;margin-top:-15px"
                                                 fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                            </svg>
                                        </a>
                                    </th>
                                </tr>
                            }
                        }
                    </table>
                </td>
            </tr>
        </table>

        
    </form>


    <table id="table_process_master">
        <tr>
            <th colspan="4">CLOSE</th>
        </tr>
        @{
            foreach (var i in (List<string>)ViewData["processMaster"])
            {
                <tr>
                    <td>@i</td>
                </tr>
            }
        }
    </table>

    <script src="~/js/process.js" asp-append-version="true"></script>










